:root {
    --green: rgb(0, 255, 4);
}

html, body {
    margin: 0;
}

body {
    background-color: black;
    color: var(--green);
    font-family: Consolas, sans-serif;
}

div {
    margin-bottom: 10px;
}

/* Sizes */
.v-small {
    font-size: 0.5rem;
}

.small {
    font-size: 0.7rem;
}

.normal {
    font-size: 1rem;
}

.large {
    font-size: 1.5rem;
}

.v-large {
    font-size: 5rem;
}

/* Underscore */
.active::after {
    content: "_";
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
}
